
<form action='/spaces/filter' method='post'>
  <label>Start Date: </label><input id='start_date' type='date' name='start_date'/>
  <label>End Date: </label><input id='end_date' type='date' name='end_date'/>
  <input type='submit' value='Filter'/>
</form>

<h1>All spaces</h1>
<% if !@spaces.empty? %>
  <% @spaces.each do |space| %>
  <%= space.name %><br>
  <%= space.price %><br>
  <%= space.description %><br>
  Available from <%= space.available_from.strftime('%d/%m/%Y') %> to <%= space.available_to.strftime('%d/%m/%Y') %>
  <% end %>
<% end %>
