<div class="jumbotron">
  <div class="container">
    <h3>Filter spaces</h3>
    <form action='/spaces/filter' method='post'>
      <label for="available_from">From:</label>
      <input type='date' name='available_from' min="<%= Date.today %>">
      <label for="available_to">To:</label>
      <input type='date' name='available_to'>
      <input type='submit' value='Find Spaces'>
    </form>
  </div>
</div>


<center><h1>Spaces</h1></center>

<div class="container">
  <div class="row">
    <% if !@spaces.empty? %>
     <% @spaces.each do |space| %>
      <div class="col-md-12">
       <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  			<h3><a href="/spaces/<%= space.id %>"><%= space.name %></a></h3>
  			<p><%= space.price %></p>
        <p><%= space.description %></p>
        <p>Available from <%= space.available_from.strftime('%d/%m/%Y') %> to <%= space.available_to.strftime('%d/%m/%Y') %></p>
      </div>
     <% end %>
    <% end %>
  </div>
</div>
