<div class="jumbotron">
  <div class="container">
    <h3 class="description">Filter spaces</h3>
      <div class="form-holder">
        <form class="form-horizontal" action='/spaces/filter' method='post'>
          <div class="form-group">
            <label class="control-label col-sm-2" for="available_from">From:</label>
              <div class="col-sm-10">
                <input class="form-control" type='date' name='available_from' min="<%= Date.today %>">
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="available_to">To:</label>
              <div class="col-sm-10">
                <input class="form-control" type='date' name='available_to'>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type='submit' value='Find Spaces'>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>

<center><h1>Spaces</h1></center>

<div class="container">
  <div class="row">
    <% if !@spaces.empty? %>
     <% @spaces.each do |space| %>
      <div class="col-md-12">
        <div class="col-md-6">
          <p><img src="<%= space.image_url || "../moon-base.jpeg" %>" height="180"></p>
        </div>
        <div class="col-md-6">
         <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    			<h3><a href="/spaces/<%= space.id %>"><%= space.name %></a></h3>
    			<p>Price: <%= space.price %></p>
          <p>Available from <%= space.available_from.strftime('%d/%m/%Y') %> to <%= space.available_to.strftime('%d/%m/%Y') %></p>
        </div>
      </div>
     <% end %>
    <% end %>
  </div>
</div>
