<center>
  <div class="jumbotron">
    <div class="container">
      <% if @requests.empty? %>
        <h3><%= "You have no incoming requests" %></h3>
      <% else %>
        <h3><%= "Your incoming requests" %></h3>
      <% end %>
    </div>
  </div>
</center>

  <div class="container">
    <div class="row">
      <% if @requests %>
       <% @requests.each do |request| %>
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name:</th>
                  <th>Price:</th>
                  <th>Description:</th>
                  <th>Available from</th>
                  <th>Available to</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= Space.get(request.space_id).name %></td>
                  <td><%= Space.get(request.space_id).price %></td>
                  <td><%= Space.get(request.space_id).description %></td>
                  <td><%= request.date_from.strftime('%d/%m/%Y') %></td>
                  <td><%= request.date_to.strftime('%d/%m/%Y') %></td>
                </tr>
              </tbody>
            </table>
            </div>
         <!-- <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
         <p><label>Email: </label><%= @users.get(request.user_id).email %></p><br>
         <p><label>Property: </label><%= @spaces.get(request.space_id).name%></a></p><br>
         <p><label>Price: </label><%= @spaces.get(request.space_id).price %></p><br>
         <p><label>Description: </label><%= @spaces.get(request.space_id).description %></p>
         <br>
         <p><label>Checkin: </label><%= request.date_from %></p><br>
         <p><label>Checkout: </label><%= request.date_to %></p><br> -->
         <form action='/requests/confirm' method='post'>
           <input type="hidden" name="request_id" value="<%= request.id%>">
           <input id="<%= request.id %>" value='Confirm' type='submit'>
         </form>
        </div>
       <% end %>
      <% end %>
    </div>
  </div>
