<center>
  <div class="jumbotron">
    <div class="container">
      <% if @requests.empty? %>
        <h3><%= "You have no incoming requests" %></h3>
      <% else %>
        <h3><%= "Your incoming requests" %></h3>
      <% end %>
    </div>
  </div>
</center>

  <div class="container">
    <div class="row">
      <% if @requests %>
       <% @requests.each do |request| %>
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name:</th>
                  <th>Price:</th>
                  <th>Description:</th>
                  <th>Available from</th>
                  <th>Available to</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= request.space.name %></td>
                  <td><%= request.space.price %></td>
                  <td><%= request.space.description %></td>
                  <td><%= request.date_from.strftime('%d/%m/%Y') %></td>
                  <td><%= request.date_to.strftime('%d/%m/%Y') %></td>
                </tr>
              </tbody>
            </table>
            </div>
         <% if request.confirmed %>
          <h3>Confirmed</h3>
          <% else %>
         <form action='/requests/confirm' method='post'>
           <input type="hidden" name="request_id" value="<%= request.id%>">
           <input class="btn btn-info" id="<%= request.id %>" value='Confirm' type='submit'>
         </form>
         <% end %>
        </div>
       <% end %>
      <% end %>
    </div>
  </div>
