<center>
  <div class="jumbotron">
  <div class="container">
    <% if @requests.empty? %>
      <h3><%= "You have not made any requests" %></h3>
    <% else %>
      <h3><%= "Your requests" %></h3>
    <% end %>
  </div>
</div>


<% if @requests %>
    <% @requests.each do |request| %>
    <%= @spaces.get(request.space_id).name%></a><br>
    <%= @spaces.get(request.space_id).price %><br>
    <%= @spaces.get(request.space_id).description %><br>
    <%= request.date_from %><br>
    Confirmed: <%= request.confirmed %><br>
  <% end %>
<% end %>
</center>
